replicaCount: 2

nameOverride: ""
fullnameOverride: ""

image:
  repository: docker.io/mukhiddinov/agro-service
  tag: "latest"
  pullPolicy: Always

containerPort: 8080

service:
  type: ClusterIP
  port: 8080

env: []

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
