server:
  port: 8086

cart:
  base-url: ${CART_BASE_URL}

catalog:
  base-url: ${CATALOG_BASE_URL}

pricing:
  base-url: ${PRICING_BASE_URL}

user:
  base-url: ${USER_BASE_URL}

shipping:
  base-url: ${SHIPPING_BASE_URL}

order:
  base-url: ${ORDER_BASE_URL}
spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
