replicaCount: 2

nameOverride: ""
fullnameOverride: ""

image:
  repository: docker.io/mukhiddinov/agro-user-service
  tag: "latest"
  pullPolicy: Always

containerPort: 8088

service:
  type: ClusterIP
  port: 8088

env: []

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
