server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres.db.svc.cluster.local:5432/orderdb}
    username: ${SPRING_DATASOURCE_USERNAME:agro}
    password: ${SPRING_DATASOURCE_PASSWORD:agro123}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    defer-datasource-initialization: true
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: order-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

grpc:
  client:
    inventory:
      address: static://${INVENTORY_GRPC_ADDRESS:inventory-service:9091}
      negotiationType: plaintext
    payment:
      address: static://${PAYMENT_GRPC_ADDRESS:payment-service:9093}
      negotiationType: plaintext

shipping:
  base-url: ${SHIPPING_BASE_URL:http://shipping-service:8089}
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
