server:
  port: 8085

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres.db.svc.cluster.local:5432/cartdb}
    username: ${SPRING_DATASOURCE_USERNAME:agro}
    password: ${SPRING_DATASOURCE_PASSWORD:agro123}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    defer-datasource-initialization: true
  sql:
    init:
      mode: never

catalog:
  base-url: ${CATALOG_BASE_URL:http://catalog-service:8083}

pricing:
  base-url: ${PRICING_BASE_URL:http://pricing-service:8084}
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
