server:
  port: 8085

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/cartdb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    defer-datasource-initialization: true
  sql:
    init:
      mode: never

catalog:
  base-url: http://localhost:8083

pricing:
  base-url: http://localhost:8084
management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  endpoint:
    health:
      probes:
        enabled: true
