# Global defaults applied to all services unless overridden per-service
global:
  replicaCount: 2
  image:
    repositoryPrefix: mukhiddinov/agro
    tag: "637dd3a"
    pullPolicy: Always
  containerPort: 8080
  service:
    type: ClusterIP
    port: 80
  resources: {}
  env:
    - name: SPRING_DATASOURCE_URL
      value: "jdbc:postgresql://postgresql.agro.svc.cluster.local:5432/agrodb"
    - name: SPRING_DATASOURCE_USERNAME
      value: "postgres"
    - name: SPRING_DATASOURCE_PASSWORD
      value: "postgres"
    - name: KAFKA_BOOTSTRAP_SERVERS
      value: "kafka.agro.svc.cluster.local:9092"
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: /actuator/prometheus
    prometheus.io/port: "8080"
services:
  catalog-service: {}
  order-service:
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: "stage"
  user-service: {}
